#root {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.app-wrapper {
  width: 100dvw;
  height: 100dvh;
  position: relative;
}

.map-view {
  width: 100dvw;
  height: 100dvh;
}

.information-view {
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 8px;
  width: 20%;
  background-color: hsl(200, 10%, 95%, 70%);
  backdrop-filter: blur(4px);
  padding: 12px;
}
