* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

/* #root {
} */

.app-wrapper {
  width: 100dvw;
  height: 100dvh;
  position: relative;
}

.map-view {
  width: 100dvw;
  height: 100dvh;
}

.information-view {
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 8px;
  width: 25%;
  min-width: 20rem;
  max-height: 80%;
  overflow-y: scroll;
  background-color: hsl(200, 10%, 95%, 70%);
  backdrop-filter: blur(4px);
  padding: 12px;

  h2 {
    font-size: 1.1rem;
  }

  p {
    padding-top: 8px;
    line-height: 150%;
  }
}

/* スマートフォン向けのスタイル */
@media screen and (max-width: 480px) {
  .information-view {
    width: calc(100% - 8px - 50px);
    margin-right: 100px;
    max-height: 30%;
    overflow-y: scroll;
  }
}
